<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.familybook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="家庭记账本"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexActivity" android:launchMode="singleTask"/>
        <activity android:name=".RegisterActivity" android:launchMode="singleTask"/>
        <activity android:name=".AddBillActivity" android:launchMode="singleTask"/>
        <activity android:name=".QueryShowActivity"   />
        <activity android:name=".QueryByConditionActivity"/>
        <activity android:name=".InfoActivity" android:launchMode="singleTask"/>
    </application>

</manifest>